<footer>
    <h4>Horror Tales by Iulia Mitch</h4>
    <section id="bottons">
        
    <a href="https://github.com/IuliaMitch" Target="_blank">Github</a>
    <a href="https://www.linkedin.com/in/iulia-mitch-f-dos-santos-29b015230/" target="_blank">Linkedin</a>
    </section>
</footer>