<section id="nav-bar">
<header>
    <h1>Horror Tales</h1>
</header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/adicionar">Cadastro</a></li>
        </ul>
    </nav>
</section>