<section id="nav-bar">
<header>
    <h1>Contos de Terror</h1>
</header>
    <nav>
        <ul>
            <li><a href="/"><strong>Home</strong></a></li>
            <li><a href="/adicionar"><strong>Cadastro</strong></a></li>
        </ul>
    </nav>
</section>